.movie-detail-header{
  height: 100vh;
  width: 100%;
}

.img-backer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.img-backer img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.movie-d-wrapper {
  position: absolute;
  z-index: 50;
  top: 0;
  width: 1580px;
  height: 100vh;
  background: rgba(22, 30, 57, 0.6);
}



@media (max-width: 1600px){
  .movie-d-wrapper {
    width: 100%;
  }
}